$primary-color: rgb(94, 148, 52);
$radius: 10px;
$padding: 10px;
$gap: 8px;
$shadow: 0px 4px 8px rgba(94, 148, 52, 0.4), 4px 0px 8px rgba(94, 148, 52, 0.4), 0px -4px 8px rgba(94, 148, 52, 0.4), -4px 0px 8px rgba(94, 148, 52, 0.4);

@import 'navbar';
@import 'hero';

* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  transition: 0.4s;
}

body {
  border: none;
  margin: 0;
  padding: 0;
  background-color: rgb(240,240,240)
}

a {
  text-decoration: none;
  background: none;

  &:active, &:visited {
    color: $primary-color;
  }
}

.container {
  padding: 0 6rem;
  background: rgb(94,148,52);
  background: radial-gradient(circle, rgba(94,148,52,0.1) 0%, rgba(0,0,0,0) 100%); 
}